{% load render_bundle from webpack_loader %}
<!-- wyzje - korzytsanie z danych z settings pythonowych WEBPACK_LOADER  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Oceniania</title>
</head>
<body>
    <!-- <h1>Vue Js - index.html</h1> -->

    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
    <div id="app"></div>

    <!-- dynamiczne wsryzkiwanie plikow -->
    {% render_bundle 'app' %}

</body>
</html>